

/* GRAL STYLES */

.s-header {
    width: 100%;
    height: 96px;
    background-color: #ec5f78;
    position: relative;
    
    top: 0%;
    z-index: 500;
}



body{
    background-color: white;
    position: relative;
    
}
.logoClassPage{
    background-color: #ec5f78;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoClassPage img{
    width: 3em;
   
}

.ContainerQuad{
    position: relative;
    margin: 2% 0%;
    min-height: 53vh;
    
}

.QuadClassPage{
    position: block;
    margin: auto;
    
    height: 32em;
    width: 32em;
    
   
}

.lumsQuad{
    display: flex;
    height: 50%;
    width: 100%;
}
.imgClassPage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemClassPage{
    position: relative;
    width: 100%;
    height: 100%;
}
.header-menu-toggle{
    color: white;
}

.superClassPage{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.356);
    flex-direction: column;
    transition: 0.5s;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.lumsQuad a{
    width: 50%;
    height: 100%;   
}

.itemClassPage:hover .superClassPage{
    opacity: 1;
}



/* CARTAS MENU */


.autoCont{
    margin: 2% auto;
    height: 15em;
    width: 75em;
    display: flex;
}

.itemCM{
    width: 33.33%;
    height: 100%;
    position: relative;
}

.itemSOLID{
    width: 33.33%;
    height: 100%;
    
    display: flex;
}

.itemSOLID img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.act img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.act:hover .superClassPage{
    opacity: 1;
}




/* La Mesa */
.itemLM{
    width: 20%;
    height: 100%;
    position: relative;
    
}
.itemLMesa{
    width: 33%;
    height: 100%;
    position: relative;
}

.autoContLM{
    width: 75em;
    height: 15em;
    display: flex;
    margin: auto;
}
.autoContLMesa{
    width: 45em;
    height: 15em;
    
    margin: auto;
    display: flex;
}

.estructuralCM{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



/* La Barra */
.autoContLB{
    width: 30em;
    height: 15em;
    display: flex;
    margin: auto;
}

.itemLB{
    width: 50%;
    height: 100%;
    position: relative;
}




/* El Personal */

.autoContEP{
    height: 15em;
    width: 45em;
    display: flex;
    margin: auto;
}



/* MEDIA QUERYS */

@media only screen and (max-width: 1300px) {

    
    
    .autoContLM{
        width: 65em;
        height: 13em;
        display: flex;
    }

    .autoContLMesa{
        height: 13em;
        width: 39em;
    }

    .autoCont{
        height: 13em;
        width: 65em;
    }
    
    .autoContEP{
        height: 13em;
        width: 39em;
    
    }
    
}

@media only screen and (max-width: 1100px) {

    
    
    .autoContLM{
        width: 55em;
        height: 11em;
        display: flex;
    }

    .autoContLMesa{
        height: 11em;
        width: 33em;
    }
    
   
    .autoCont{
        height: 11em;
        width:55em;
    }
    .autoContEP{
        height: 11em;
        width: 33em;
    
    }
}




@media only screen and (max-width: 1000px) {

    .QuadClassPage{
       
        height: 35em;
        width: 35em;
    }

    

    .autoContLM{
        width: 50em;
        height: 10em;
        display: flex;
    }
    .autoContLMesa{
        height: 10em;
        width: 30em;
    }

  
    .autoCont{
        height: 10em;
        width:50em;
    }
    
}

@media only screen and (max-width: 900px) {

    .autoContLM{
        width: 45em;
        height: 9em;
        display: flex;
    }
    .autoContLMesa{
        height: 9em;
        width: 27em;
    } 

    

    .autoContLB{
        width: 24em;
        height: 12em;
    }

    .autoCont{
        height: 9em;
        width:45em;
    }
    
}
@media only screen and (max-width: 800px) {

    .superClassPage{
        opacity: 1;
    }

    .autoCont{
    
        height: 12em;
        width: 36em;
        display: flex;
    }

    .autoContLM{
        width: 40em;
        height: 8em;
        display: flex;
    }
    .autoContLMesa{
        height: 8em;
        width: 24em;
    } 



    .autoCont{
        height: 8em;
        width:40em;
    }
}

@media only screen and (max-width: 700px) {

    .QuadClassPage{
        
        height: 30em;
        width: 30em;
    }

    .IconNav{
        scale: 0.8;
    }

   
    .autoCont{
        height: 55em;
        width: 11em;
        flex-direction: column;
    }

    .autoContEP{
        height: 33em;
        width: 11em;
        flex-direction: column;
    
    }

    .autoContEP .itemCM{
        width: 100%;
        height: 33.33%;
    }


    .itemCM{
        width: 100%;
        height: 20%;
        
    }
    .itemSOLID{
        width: 100%;
        height: 33.33%;
        background-color: #ec5f78;
        display: flex;
    }

    .itemLM{
        width: 100%;
        height: 20%;
        position: relative;
    }
    .itemLMesa{
        width: 100%;
        height: 33.33%;
        position: relative;
    }
    
    .autoContLM{
        width: 10em;
        height: 50em;
        display: flex;
        flex-direction: column ;
        margin: 0;
    }

    .autoContLMesa{
        height: 30em;
        width: 10em;
        flex-direction: column;
        margin: 0;
    }
    
    .estructuralCM{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
   
    .autoContLB{
        flex-direction: column;
        height: 24em;
        width: 12em;
    }
    .itemLB{
        width: 100%;
        height: 50%;
        position: relative;
    }


}

@media only screen and (max-width: 600px) {

    .QuadClassPage{
      
        height: 25em;
        width: 25em;
    }

    .logoClassPage{
        
        height: 20%;
        
    }

  

    

    .autoContLM{
        width: 8em;
        height: 40em;
        display: flex;
        flex-direction: column ;
    }
    
    .autoContLMesa{
        height: 24em;
        width: 8em;
    }




}

@media only screen and (max-width: 500px) {

    .QuadClassPage{
      
        height: 23em;
        width: 23em;
    }

    .autoContLM{
        width: 7em;
        height: 35em;
        display: flex;
        flex-direction: column ;
    }

    .autoContLMesa{
        height: 21em;
        width: 7em;
    }

   
}

@media only screen and (max-width: 400px) {

    .QuadClassPage{
        
        height: 19em;
        width: 19em;
    }

    

    .autoContLM{
        width: 6em;
        height: 30em;
        display: flex;
        flex-direction: column ;
    }

    .autoContLMesa{
        height: 18em;
        width: 6em;
    }

   
}