.s-header {
    width: 100%;
    height: 96px;
    background-color: #ba71ac;
    position: relative;
    
    top: 0%;
    z-index: 500;
}

.header-logo{
    top: 65%;
}

.BackButton{
    top: 40%;
}

body{
    background-color: white;
    position: relative;
    
}
.logoClassPage{
    background-color: #ba71ac;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoClassPage img{
    width: 3em;
   
}

.ContainerQuad{
    position: relative;
    margin: 2% 0%;
    min-height: 53vh;
}

.estructuralPE{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.autoCont{
    margin: auto;
    height: 15em;
    width: 60em;
    display: flex;
}

.imgClassPage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemPE{
    width: 25%;
    height: 100%;
    position: relative;
}

.autoContv3{
    height: 15em;
    width: 45em;
    display: flex;
}

.itemv3{
    width: 33.33%;
    height: 100%;
    position: relative;
}

.header-menu-toggle{
    color: white;
}

.superClassPage{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.356);
    flex-direction: column;
    transition: 0.5s;
    align-items: center;
    align-content: center;
    justify-content: center;
}



.act:hover .superClassPage{
    opacity: 1;
}



@media only screen and (max-width: 1100px) {

    
    .autoCont{
        height: 14em;
        width:56em;
    }
    .autoContv3{
        height: 14em;
        width: 42em;
        display: flex;
    }
}
@media only screen and (max-width: 1000px) {

    .autoCont{
        height: 13em;
        width:52em;
    }

    .autoContv3{
        height: 13em;
        width: 39em;
        display: flex;
    }
}


@media only screen and (max-width: 900px) {

    
    .autoCont{
        height: 11em;
        width:44em;
    }
    .autoContv3{
        height: 11em;
        width: 33em;
        display: flex;
    }

}

@media only screen and (max-width: 800px) {

    .superClassPage{
        opacity: 1;
    }

    .autoCont{
        height: 10em;
        width:40em;
    }
    .autoContv3{
        height: 10em;
        width: 30em;
        display: flex;
    }

}

@media only screen and (max-width: 700px) {

    

    .IconNav{
        scale: 0.8;
    }

    .autoCont{
        height: 44em;
        width: 11em;
        flex-direction: column;
    }
    .itemPE{
        width: 100%;
        height: 25%;
        
    }
    
    .estructuralPE{
        flex-direction: row;
        justify-content: center;
    }

    .autoContv3{
        height: 33em;
        width: 11em;
        display: flex;
        flex-direction: column;
    }
    .itemv3{
        width: 100%;
        height: 33.33%;
    }

}

@media only screen and (max-width: 600px) {
    

    .QuadClassPage{
        top: 10%;
        height: 25em;
        width: 25em;
    }

    .logoClassPage{
        
        height: 25%;
        
    }

    .estructuralPE{
        
        top: -20%;

    }
}

@media only screen and (max-width: 400px) {

    


    .QuadClassPage{
        top: 10%;
        height: 19em;
        width: 19em;
    }

    .autoCont{
        height: 36em;
        width: 9em;
        flex-direction: column;
    }
    .autoContv3{
        height: 27em;
        width: 9em;
        display: flex;
        flex-direction: column;
    }


}