body{
    background-color: white;
    position: relative;
}
.logoClassPage{
    background-color:#f18931;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoClassPage img{
    width: 4em;
   
}

.ContainerQuad{
    position: relative;
    height: 35em;
}

.QuadClassPage{
    position: absolute;
    
    top: -10%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 40em;
    width: 40em;
    background-color: black;
   
}

.lumsQuad{
    display: flex;
    height: 50%;
    width: 100%;
}
.imgClassPage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemClassPage{
    position: relative;
    width: 50%;
    height: 100%;
}
.header-menu-toggle{
    color: white;
}

.superClassPage{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.356);
    flex-direction: column;
    transition: 0.5s;
    align-items: center;
    align-content: center;
    justify-content: center;
}



.itemClassPage:hover .superClassPage{
    opacity: 1;
}



@media only screen and (max-width: 1000px) {

    .QuadClassPage{
        
        height: 35em;
        width: 35em;
    }

    .ContainerQuad{
        
        height: 25em;
    }

}
@media only screen and (max-width: 800px) {

    .superClassPage{
        opacity: 1;
    }

}

@media only screen and (max-width: 700px) {

    .QuadClassPage{
       
        height: 30em;
        width: 30em;
    }

    .IconNav{
        scale: 0.8;
    }

}

@media only screen and (max-width: 600px) {

    .QuadClassPage{
        top: -30%;
        height: 25em;
        width: 25em;
    }

    .logoClassPage{
        
        height: 50%;
        
    }

}

@media only screen and (max-width: 500px) {

    .QuadClassPage{
        
        height: 23em;
        width: 23em;
    }


}

@media only screen and (max-width: 400px) {

    .QuadClassPage{
        
        height: 19em;
        width: 19em;
    }


}